[package]
name = "{{ github_username | default('owner', true) }}/{{ project_name }}"
version = "0.1.0"
registry = "https://github.com/UpliftGames/wally-index"
realm = "shared"

[dependencies]
# Add your dependencies here, e.g.:
# Promise = "evaera/promise@4.0.0"

[server-dependencies]
# Server-only dependencies

[dev-dependencies]
# Development/testing dependencies
